<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container-fluid">
        <h1>You are in: Encounter</h1>
        <div class="row">
            <div class="col-xs-4">
                @Html.ActionLink("Home", "Landing", "Player")
            </div>
            <div class="col-xs-4">
                <p>Link here?</p>
            </div>
            <div class="col-xs-4">
                @Html.ActionLink("Account", "Index", "Account")
            </div>
        </div>
    </div>
    @RenderBody()
</body>
</html>
