@{
    ViewData["Title"] = "New Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Encounter.Entities
@model Encounter.ViewModels.AbilityPageViewModel

<h1>Choose your skills, @Model.CurrentPlayer.Name</h1>

@using (Html.BeginForm("create", "game",
        new { playerid = Model.CurrentPlayer.PlayerId }))
{
    @foreach (var ability in Model.Abilities)
    {
        <div class="col-xs-3">
            <div>
                @Html.Label(ability.Name)
                @Html.CheckBox("abilities", false, new { value = ability.AbilityId })
            </div>
        </div>
    }
    <input type="submit" value="Add selected skills" />
}