@{
    ViewData["Title"] = "New Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Encounter.Entities
@model Encounter.ViewModels.AbilityPageViewModel

<h1>Choose your skills, @Model.User.PlayerName</h1>
<h2>You chose: @Model.Character.Name</h2>

@using (Html.BeginForm("Ready", "Ability", new { charId = Model.Character.CharacterId }))
{
    @foreach (var ability in Model.Abilities)
    {
        <div class="col-xs-3">
            <div>
                @Html.Label(ability.Name)
                @Html.CheckBox("abilities", false, new { value = ability.AbilityId })
            </div>
        </div>
    }
    <input type="submit" value="Add selected skills" />
}