@using Encounter.Entities
@model Encounter.ViewModels.GamePageViewModel

<h1>This is @Model.User.PlayerName's game page</h1>
<h2>@Model.User.PlayerName chose: @Model.Character.Name</h2>
<h2>At: @DateTime.Now</h2>

