@using Encounter.Entities
@model Encounter.ViewModels.GamePageViewModel

<h1>This is @Model.CurrentPlayer.Name's game page</h1>
<h2>@Model.CurrentPlayer.Name chose: @Model.SelectedCharacter.Name</h2>
<h2>At: @Model.CurrentGame.Created</h2>

