@model Reciprocity.Entities.Category
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Model.Name</title>
</head>
<body>
    <h1>@Model.CategoryId | @Model.Name</h1>
    @Html.ActionLink("Home", "Index")
</body>
</html>