@{
    ViewData["Title"] = "Category Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Reciprocity.Entities.Category

<h1>@Model.CategoryId | @Model.Name</h1>
@Html.ActionLink("Home", "Index")