@model Reciprocity.Models.Category
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Categories</title>
</head>
<body>
    <h1>Welcome</h1>
    <div>
        @Model.Name
    </div>
</body>
</html>