@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Reciprocity.ViewModels.CategoryPageViewModel

<h1>@Model.CurrentGreeting</h1>
<div>
    @foreach(var category in Model.Categories)
    {
        <li>@category.CategoryId | @category.Name @Html.ActionLink("See more", "Details", new { id = category.CategoryId })</li>

    }
</div>