.monster {
    width: 190px;
    height: 240px;
    background: url('../img/monster.png') left center;
    animation: play .8s steps(10) infinite;
}

@keyframes play {
    100% { background-position: -1900px; }
}

.nav {
    background-color: black;
    color: white;
}

#char-bar, #foe-bar {
    width: 100%;
}

.welcome {
    background-color: rgba(255,255,255,0.4);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.rdy-img {
    width: 100px;
}

body {
    font-family: 'Marcellus SC', serif;
    min-width: 300px;
}

 /**************************/
/*Account/Landing Start****/
.bg-image {
    background: url('/img/landing.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    padding: 10% 0;
    min-height: 100vh;
}

.landing-menu {
    min-width: 25%;
    max-width: 500px;
    background-color: rgba(255,255,255,0.65);
    text-align: center;
    padding: 1% 3% 3%;
    margin: 0 auto;
    border-radius: 3px;
}

.encounter-banner {
    font-size: 4em;
    margin-bottom: 30px;
    margin-top: 0;
}

.landing-menu a {
    color: maroon;
}

.landing-menu a:hover {
    color: darkblue;
}

.landing-btn {
    width: 100%;
    font-size: 3em;
    border-radius: 0;
    background-color: maroon;
    color: mintcream;
}

.landing-btn:hover {
    background-color: #7a685c;
    color: white;
}

.padded-btn {
    margin-bottom: 10px;
}

.logout-btn {

}

.recent-games {
    text-align: left;
}

 /*Account/Landing End******/
/**************************/

 /**********************/
/*Registration Start***/
#avatar-container {
    padding: 15px;
    max-height: 158px;
}
#avatar {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
.reg-input {

}
 /*Registration End*********/
/**************************/

 /**************************/
/*Player Profile Start*****/
.player-avatar {
    width: 128px;
}
 /*Player Profile End*******/
/**************************/

 /**************************/
/*Character Select Start***/
.new-game-banner {
    text-align: center;
}
.char-select-container, .scenario-select-container {
    text-align: center;
}
.scenario-select-container {
    margin-bottom: 30px;
}
.char-select-sprite-box {
    min-height: 200px;
}
.scenario-select-sprite-box {
    padding: 10px;
}
.char-select-img, .scenario-select-img {
    display: block;
    width: 100px;
    margin: 0 auto;
}
.char-select-btn {
    font-size: 20px;
    width: 100%;
    height: 40px;
    background-color: maroon;
    color: white;
}
.char-select-btn:hover {
    width: 100%;
    background-color: #7a685c;
    color: white;
}
.char-select-abil-box {
    background-color: blanchedalmond;
    padding: 15px;
}
.act-icon {
    width: 100%;
    max-width: 100px;
    max-height: 100px;
}
.small-act-icon {
    width: 50px;
}
/*Character Select End******/
/**************************/

 /**************************/
/*Game Page Start**********/
#black-bg {
    height: 100vh;
    background-color: black;
}
#count-down-box, #next-event, #paused, #you-lose {
    color: white;
    text-align: center;
    z-index: 1;
    position: absolute;
    padding-top: 30vh;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
}
#next-event {
    background-color: rgba(11, 99, 67, 0.65);
}
#paused {
    background-color: rgba(100, 100, 100, 0.8);
}
#you-lose {
    background-color: rgba(153, 10, 34, 0.8);
}
#count-down-box {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
}
.game-overlay-btn {
    min-height: 20vh;
    min-width: 20vw;
    font-size: 30px;
}
.event-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.top-buttons-container {
    text-align: center;
    padding: 5px;
}
.event-board {
    width: 100vw;
    height: 100vh;
    background-color: salmon;
}
.event-board-img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding-left: -15px;
}
.name-tag {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 3px 10px;
    padding: 3px 5px;
    display: inline-block;
    border-radius: 0 0 5px 5px;
}
.progress {
    margin-bottom: 0;
}
.play-area {
    position: relative;
    margin: 0;
    height: 90%;
    width: 100%;
}
.sprite-row {
    width: 100%;
    position: absolute;
    bottom: 5%;
}
.center-box {
    text-align: center;
}
.char-box {
}
.char-skill-box {
}
.game-char-img {
    display:block;
    margin: 10% auto 0;
    max-width: 100%;
    max-height:40vh;
    width: auto;
    height: auto;
}
.char-sprite-box {
    /*height: 100%;*/
}
#char-sprite-effect-box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 75%;
    opacity: 0.7;
    z-index: 1;
}
.effect {
    width: 100%;
}
.game-event-img {

}
.foe-box {
}
.foe-name {
    font-size: 20px;
}
.game-foe-img {
    display:block;
    margin: 10% auto 0;
    max-width: 100%;
    max-height:40vh;
    width: auto;
    height: auto;
}
foe-sprite-box {
    /*height: 100%;*/
}
#foe-sprite-effect-box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 75%;
    opacity: 0.7;
    z-index: 1;
}
.act-btn {
    width: 150px;
    height: 150px;
    padding: 0;
    background-size: cover;
    opacity: 1 !important;
}
.cooldown-box {
    background-color: lightgray;
    height: 100%;
    opacity: 0.8;
}
.cooldown-bar {
    width: 100%;
    opacity: 0.75;
}
 /*Game Page End************/
/**************************/

/************************/
.game-over-text {
    padding-top: 15px;
    color: white;
    text-align: center;
}
#vid-background {
  width: auto;
  width: 100%;
  height: auto;
  background-size: cover;
}
/***********************/
@media only screen and (max-width:800px){
    .health-info {
        font-size: 14px;
        margin: 0 0 10px;
    }
    .play-area {
        height: 75%;
    }
    #foe-sprite-effect-box, #char-sprite-effect-box {
        max-width: 55%;
    }
    .event-container {
        min-width: 300px;
    }
    .sprite-row {
        bottom: 30px;
    }
    .act-btn {
        width: 75px;
        height: 75px;
        background-size: cover;
    }
    .char-select-name {
        font-size: 18px;
    }
    .char-select-class {
        font-size: 12px;
    }
    .char-select-btn {
        font-size: 12px;
    }
    .abil-name {
        font-size: 12px;
    }
    .landing-btn {
        max-width: 55%;
        font-size: 1.5em;
    }
    .bg-image {
        padding: 0;
    }
    .landing-menu {
        padding-top: 30px;
        min-width: 100%;
        min-height: 100vh;
    }
    .encounter-banner {
        font-size: 22px;
        margin-bottom: 5px;
    }
    .player-welcome {
        font-size: 16px;
        margin: 3px;
    }
}
@media only screen and (max-height:800px) {
    .act-btn {
        width: 75px;
        height: 75px;
        background-size: cover;
    }
    #foe-sprite-effect-box, #char-sprite-effect-box {
        max-width: 200px;
    }
}
@media only screen and (max-height:400px) and (max-width:600px) {
    .act-btn {
        width: 45px;
        height: 45px;
    }
    .pause {

    }
    .pause, .status {
        height: 24px;
        font-size: 10px;
    }
    #foe-sprite-effect-box, #char-sprite-effect-box {
        max-width: 130px;
    }
}
@media only screen and (max-width:1400px) {
    .play-area {
        height: 85%;
    }
}
@media only screen and (min-width:800px) and (max-height:400px) {
    .play-area {
        height: 65%;
    }
}