
.nav {
    background-color: black;
    color: white;
}

.bg-image {
    background: url('/img/bg.png') no-repeat center center fixed;
    min-height: 80vh;
}

.welcome {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.char-select {
    width: 100px;
}

.player-avatar {
    width: 150px;
}

.rdy-img {
    width: 100px;
}

/*Game Page Start**********/
.event-board {
    width: 1000px;
    height: 600px;
    background-color: salmon;
    position: relative;
    z-index: -2;
}
.event-board-img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.overlay {
    background-color: rgba(255,255,255,0.7);
    width: 100%;
    height: 100%;
}
.center-box {
    text-align: center;
}
.char-box {
}
.char-skill-box {
    background-color: salmon;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.game-char-img {
    height: 300px;
    transform: scaleX(-1);
}
.game-event-img {

}
.game-foe-img {
    width: 50%;
    transform: scaleX(-1);
}
/*Game Page End************/