@{
    ViewData["Title"] = "Category Creation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Encounter.Entities
@model Category

<h1>Add New Category</h1>
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
    </div>
    <div>
        <input type="submit" vale="Save" />
    </div>
}