@{
    ViewData["Title"] = "Category Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Encounter.Entities.Player

<h1>@Model.PlayerId | @Model.Name</h1>
@Html.ActionLink("Home", "Index")