@{
    ViewData["Title"] = "Category Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Encounter.Entities.ApplicationUser

<h1>Hello, @Model.PlayerName</h1>
<p>Account Created: @Model.DateCreated</p>
<img class="player-avatar" src="@Model.AvatarUrl" />
@Html.ActionLink("Home", "Index")