@{
    ViewData["Title"] = "About/Credits";
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}
<div class="bg-image">
    <div class="landing-menu">
        @Html.ActionLink("Home", "Index", "Account")
        <h1 class="encounter-banner">About</h1>
        <h5>This project was made as a capstone project for the .NET course of the first Seattle cohort of Epicodus.</h5>

        <a href="https://github.com/andrewniekamp/Encounter">View the Source Code on Github</a>

        <h1 class="encounter-banner">Credits</h1>
        <h4>Player Profile Avatars: <a href="https://unicornify.appspot.com/">Unicornify!</a></h4>
        <h4>Ability Icons: <a href="http://game-icons.net">Game-icons.net</a></h4>
        <h4>Background and Character Art: <a href="http://pixabay.com">Pixabay</a></h4>
        <h5>Many images were edited with Photoshop</h5>
    </div>
</div>
