@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}
<div class="bg-image">
    <div class="landing-menu">
        <h1 class="encounter-banner">Credits</h1>
        <h3>Player Profile Avatars: <a href="https://unicornify.appspot.com/">Pixabay</a></h3>
        <h3>Background and Character Art: <a href="http://pixabay.com">Pixabay</a></h3>
        <h4>Many images were edited with Photoshop</h4>
        <h3>Ability Icons: <a href="http://game-icons.net">Game-icons.net</a></h3>
    </div>
</div>
