@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-image">
    <div class="welcome">
        <h1>Play For Free!</h1>
        @Html.ActionLink("See All Players", "Index", "Player")
    </div>
</div>